  <div id="x-content-band-1" class="x-content-band left-text bg-image parallax man" style="background-image: url(http://accordantmedia.com/wp-content/uploads/2014/11/Actionable-Scalable-Insights1.jpg); background-color: #666; padding-top: 13%; padding-bottom: 13%;"><div class="x-container-fluid max width">
<div  class="x-container-fluid max width" >
<div  class="x-column whole last" style="" data-fade="true" data-fade-animation="in">
<span style="font-size: 1.9em; font-weight: lighter; color: #fff;">
<!-- REPLACE BANNER TEXT BELOW -->
We help marketers organize and analyze their customer data, and deploy sophisticated targeting strategies through programmatic media channels. Our full service, 100% transparent approach delivers insights, customer value, and drives results at scale.
<!-- REPLACE BANNER TEXT ABOVE -->
</span><br />
</div><hr class="x-clear">
</div>
</div></div>