<!DOCTYPE html>
<!--[if IE 9]><html class="no-js ie9" lang="en-US" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#"><!--<![endif]-->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cross-Channel Audience Targeting | Accordant Media</title>
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link rel="pingback" href="http://accordantmedia.com/xmlrpc.php">
  
<!-- This site is optimized with the Yoast SEO plugin v2.3.4 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="robots" content="noodp,noydir"/>
<meta name="description" content="We help marketers organize and analyze their customer data, and deploy sophisticated targeting strategies through programmatic media channels."/>
<meta name="keywords" content="data, data driven, data driven marketing, campaign optimization, programmatic media, audience targeting, audience, targeting, digital, media, advertising"/>
<link rel="canonical" href="http://accordantmedia.com/what-we-do/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Cross-Channel Audience Targeting | Accordant Media" />
<meta property="og:description" content="We help marketers organize and analyze their customer data, and deploy sophisticated targeting strategies through programmatic media channels." />
<meta property="og:url" content="http://accordantmedia.com/what-we-do/" />
<meta property="og:site_name" content="Accordant" />
<meta property="og:image" content="http://accordantmedia.com/wp-content/uploads/2014/11/CHART1B.png" />
<meta property="og:image" content="http://accordantmedia.com/wp-content/uploads/2014/11/FUNNEL3.png" />
<meta property="og:image" content="http://accordantmedia.com/wp-content/uploads/2015/05/display-300x300.png" />
<meta property="og:image" content="http://accordantmedia.com/wp-content/uploads/2015/05/video-300x300.png" />
<meta property="og:image" content="http://accordantmedia.com/wp-content/uploads/2015/05/mobile-300x300.png" />
<meta property="og:image" content="http://accordantmedia.com/wp-content/uploads/2015/05/social-300x300.png" />
<meta property="og:image" content="http://accordantmedia.com/wp-content/uploads/2015/05/email-300x300.png" />
<meta property="og:image" content="http://accordantmedia.com/wp-content/uploads/2015/05/instreamaudio.png" />
<meta property="og:image" content="http://accordantmedia.com/wp-content/uploads/2015/05/outofhome-300x300.png" />
<meta property="og:image" content="http://accordantmedia.com/wp-content/uploads/2015/05/addressabletv-300x300.png" />
<!-- / Yoast SEO plugin. -->

<!-- Can Delete -->
<link rel="alternate" type="application/rss+xml" title="Accordant &raquo; Feed" href="http://accordantmedia.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Accordant &raquo; Comments Feed" href="http://accordantmedia.com/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="Accordant &raquo; WHAT WE DO Comments Feed" href="http://accordantmedia.com/what-we-do/feed/" />
<!-- Can Delete -->

<link rel='stylesheet' href='http://go.pardot.com/l/120912/2015-09-28/2mwlv3/120912/106384/style2.css' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel='stylesheet' id='x-font-custom-css'  href='//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic|Open+Sans:400|Open+Sans:400|Open+Sans:300&#038;subset=latin,latin-ext' type='text/css' media='all' />

<!-- Can Delete -->
<!-- This site uses the Google Analytics by Yoast plugin v5.4.6 - Universal disabled - https://yoast.com/wordpress/plugins/google-analytics/ -->
<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-7581351-4']);
	_gaq.push(['_gat._forceSSL']);
	_gaq.push(['_trackPageview']);

	(function () {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();

</script>
<!-- / Google Analytics by Yoast -->
<!-- Can Delete -->

<script type='text/javascript' src='http://accordantmedia.com/wp-includes/js/jquery/jquery.js?ver=1.11.3'></script>
<script type='text/javascript' src='http://accordantmedia.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>

<script type='text/javascript' src='http://accordantmedia.com/wp-content/themes/x/framework/js/dist/site/x-head.min.js'></script>
<script type='text/javascript' src='http://accordantmedia.com/wp-content/plugins/x-shortcodes/js/dist/site/x-shortcodes-head.min.js'></script>

</head>



<body class="page page-id-18 page-template page-template-template-blank-4 page-template-template-blank-4-php siteorigin-panels x-icon x-navbar-fixed-top-active x-full-width-layout-active x-content-sidebar-active wpb-js-composer js-comp-ver-4.1.3 vc_responsive x-v2_6_0 x-child-theme-active x-shortcodes-v2_4_0">

  
  <div id="top" class="site"> <!-- BEGIN #top.site -->

  <header class="masthead masthead-inline" role="banner">
    
    

  <div class="x-navbar-wrap">
    <div class="x-navbar">
      <div class="x-navbar-inner">
        <div class="x-container-fluid max width">
          

<a href="http://accordantmedia.com/" class="x-brand img" title="Programmatic Media Specialists">
  <img src="//accordantmedia.com/wp-content/uploads/2014/11/accordant_logo7.png" alt="Programmatic Media Specialists"></a>          
<a href="#" class="x-btn-navbar collapsed" data-toggle="collapse" data-target=".x-nav-collapse">
  <i class="x-icon-bars"></i><span class="visually-hidden">Navigation</span>
</a>

<nav class="x-nav-collapse collapse" role="navigation">

  <ul id="menu-main-menu" class="x-nav sf-menu"><li id="menu-item-118" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-18 current_page_item menu-item-118"><a href="http://accordantmedia.com/what-we-do/">What We Do</a></li>
<li id="menu-item-115" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115"><a href="http://accordantmedia.com/our-technology/">Our Technology</a></li>
<li id="menu-item-104" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-104"><a href="http://accordantmedia.com/case-studies/">Case Studies</a></li>
<li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="http://accordantmedia.com/team/">Team</a></li>
<li id="menu-item-8239" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-8239"><a href="/news">News</a>
<ul class="sub-menu">
	<li id="menu-item-141" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-141"><a href="http://accordantmedia.com/news/">Accordant in the News</a></li>
	<li id="menu-item-8238" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8238"><a href="http://accordantmedia.com/what-were-reading/">What We&#8217;re Reading</a></li>
</ul>
</li>
<li id="menu-item-140" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-140"><a href="http://accordantmedia.com/careers/">Careers</a></li>
<li id="menu-item-139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139"><a href="http://accordantmedia.com/contact-us/">Contact</a></li>
</ul>
</nav> <!-- end .x-nav-collapse.collapse -->        </div>
      </div> <!-- end .x-navbar-inner -->
    </div> <!-- end .x-navbar -->
  </div> <!-- end .x-navbar-wrap -->

    
    </header>

      <div class="x-main full" role="main">

    
      <article id="post-18" class="post-18 page type-page status-publish hentry no-post-thumbnail">
        <div class="entry-wrap">
          

<div class="entry-content content">

<!-- MAIN BANNER IMAGE BELOW-->
<script type="text/javascript" src="http://go.pardot.com/dcjs/120912/174/dc.js"></script>
<!-- MAIN BANNER IMAGE ABOVE-->

<div class="x-container-fluid max width">

<div  class="x-container-fluid max width" >
<div  class="x-column whole last" style="" data-fade="true" data-fade-animation="in">
<span style="font-size: 1.9em; font-weight: lighter; color: #fff;">

<!-- REPLACE BANNER TEXT BELOW -->
<script type="text/javascript" src="http://go.pardot.com/dcjs/120912/172/dc.js"></script>
<!-- REPLACE BANNER TEXT ABOVE -->

</span>
<br />
</div><hr class="x-clear">
</div>
</div></div>


<div id="x-content-band-2" class="x-content-band left-text man" style="background-color: transparent; padding-bottom: 3%;"><div class="x-container-fluid max width">
<div  class="x-container-fluid max width" >

<!-- Expert Guidance, Excellent Service (1)-->
<script type="text/javascript" src="http://go.pardot.com/dcjs/120912/176/dc.js"></script>
<!-- Expert Guidance, Excellent Service (1)-->

<!-- Open Collaboration Column (2) -->
<script type="text/javascript" src="http://go.pardot.com/dcjs/120912/178/dc.js"></script>
<!-- Open Collaboration Column (2) -->

<!-- Data Driven, Scalable Campaigns Column (3) -->
<script type="text/javascript" src="http://go.pardot.com/dcjs/120912/180/dc.js"></script>
<!-- Data Driven, Scalable Campaigns Column (3) -->

<hr class="x-clear">

<!-- Accordant’s Full Service Approach Row -->
<script type="text/javascript" src="http://go.pardot.com/dcjs/120912/182/dc.js"></script>
<!-- Accordant’s Full Service Approach Row -->

<hr class="x-clear">

<!-- Reducing the Complexity, Improving the Success -->
<script type="text/javascript" src="http://go.pardot.com/dcjs/120912/184/dc.js"></script>
<!-- Reducing the Complexity, Improving the Success -->

<hr class="x-clear">

</div>
</div></div>


</div> <!-- Closing entry-content content -->

        </div> <!-- Closing entry-wrap -->
      </article>

    
  </div> <!-- Closing x-main full -->

<footer class="x-colophon top" role="contentinfo">
    <div class="x-container-fluid max width">
      <div class="x-row-fluid">

        <div class="x-span12"><div id="shortcodes-ultimate-4" class="widget shortcodes-ultimate"><div class="textwidget"><div  class="x-column newsletter one-half last" style="" ><div role="form" class="wpcf7" id="wpcf7-f7118-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form name="" action="/what-we-do/#wpcf7-f7118-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="7118" />
<input type="hidden" name="_wpcf7_version" value="4.1.2" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f7118-o1" />
<input type="hidden" name="_wpnonce" value="de882ac68b" />
</div>
<table id="signup">
<tr>
<td colspan="2">Sign up for our Quarterly Market Pulse Report!</td>
</tr>
<td><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span></td>
<td><input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit" /></td>
</tr>
</table>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div></div><hr class="x-clear">

<div  class="x-column one-half" style="margin-top: 3.5em;" ><img  class="x-img x-img-thumbnail" style="width: 220.5px; height: auto; margin-left: 2.5em; border: none; background-color: #404040" src="http://accordantmedia.com/wp-content/uploads/2014/11/accordant_logo7.png" >
</div>

<div  class="x-column one-half last" style="margin-top: 3.5em;" >
<table id="signup" style="border: 0px;">
<tr>
<td style="color: #888; line-height: 2em; background-color: #404040; border: 0 none;">
    <span><strong>P </strong></span><span style="color: #FFF">646 349 9400</span><br>
    <span><strong>E </strong></span><a style="color: #FFF;" href="mailto:info@accordantmedia.com">info@accordantmedia.com</a><br>
    <a style="color: #FFF;" href="/careers">Careers</a><br>
    <a href="https://twitter.com/Accordant"><img src="http://accordantmedia.com/wp-content/uploads/2014/11/twitter.png" width="18" height="18"/></a>
    <a href="https://www.facebook.com/AccordantMedia"><img src="http://accordantmedia.com/wp-content/uploads/2014/11/facebook.png" width="18" height="18"/></a>
    <a href="http://www.linkedin.com/company/accordant-media"><img src="http://accordantmedia.com/wp-content/uploads/2014/11/linkedin.png" width="18" height="18"/></a>
</td>
<td style="color: #888; line-height: 2em; background-color: #404040; font-size: 90%; border: 0 none;">
    <a style="color: #888;" href="/oba-self-regulatory-principles">OBA Self-Regulatory Principles</a><br>
    <a style="color: #888;" href="/privacy-policy">Privacy Policy</a><br>
    © 2015 Accordant Media, LLC.<br>
<a href="http://iabcanada.com" target="_blank"><img src="http://accordantmedia.com/wp-content/uploads/2014/11/IAB_LOGO1.png" width="45" height="45"/></a>
</td>
</table>

</div><hr class="x-clear"></div></div></div>
      </div> <!-- end .x-row-fluid -->
    </div> <!-- end .x-container-fluid.max.width -->
  </footer> <!-- end .x-colophon.top -->


  

  
  </div> <!-- END #top.site -->

  
		<script src="https://secure.adnxs.com/seg?add=555170&t=1" type="text/javascript"></script>
	<script type='text/javascript' src='http://accordantmedia.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/accordantmedia.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */
</script>
<script type='text/javascript' src='http://accordantmedia.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.1.2'></script>
<script type='text/javascript' src='http://accordantmedia.com/wp-content/themes/x-child-icon/js/custom.js?ver=1.0'></script>
<script type='text/javascript' src='http://accordantmedia.com/wp-content/themes/x/framework/js/dist/site/x-body.min.js'></script>
<script type='text/javascript' src='http://accordantmedia.com/wp-content/themes/x/framework/js/dist/site/x-icon.min.js'></script>
<script type='text/javascript' src='http://accordantmedia.com/wp-includes/js/comment-reply.min.js?ver=4.3'></script>
<script type='text/javascript' src='http://accordantmedia.com/wp-content/plugins/x-shortcodes/js/dist/site/x-shortcodes-body.min.js'></script>
<script type='text/javascript' src='http://accordantmedia.com/wp-content/themes/x-child-icon/js/footer.js?ver=1.0'></script>

  
</body>
</html>