<!DOCTYPE html>
<!--[if IE 9]><html class="no-js ie9" lang="en-US" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#"><!--<![endif]-->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cross-Channel Audience Targeting | Accordant Media</title>
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link rel="pingback" href="http://accordantmedia.com/xmlrpc.php">
  
<!-- This site is optimized with the Yoast SEO plugin v2.3.4 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="robots" content="noodp,noydir"/>
<meta name="description" content="We help marketers organize and analyze their customer data, and deploy sophisticated targeting strategies through programmatic media channels."/>
<meta name="keywords" content="data, data driven, data driven marketing, campaign optimization, programmatic media, audience targeting, audience, targeting, digital, media, advertising"/>
<link rel="canonical" href="http://accordantmedia.com/what-we-do/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Cross-Channel Audience Targeting | Accordant Media" />
<meta property="og:description" content="We help marketers organize and analyze their customer data, and deploy sophisticated targeting strategies through programmatic media channels." />
<meta property="og:url" content="http://accordantmedia.com/what-we-do/" />
<meta property="og:site_name" content="Accordant" />
<meta property="og:image" content="http://accordantmedia.com/wp-content/uploads/2014/11/CHART1B.png" />
<meta property="og:image" content="http://accordantmedia.com/wp-content/uploads/2014/11/FUNNEL3.png" />
<meta property="og:image" content="http://accordantmedia.com/wp-content/uploads/2015/05/display-300x300.png" />
<meta property="og:image" content="http://accordantmedia.com/wp-content/uploads/2015/05/video-300x300.png" />
<meta property="og:image" content="http://accordantmedia.com/wp-content/uploads/2015/05/mobile-300x300.png" />
<meta property="og:image" content="http://accordantmedia.com/wp-content/uploads/2015/05/social-300x300.png" />
<meta property="og:image" content="http://accordantmedia.com/wp-content/uploads/2015/05/email-300x300.png" />
<meta property="og:image" content="http://accordantmedia.com/wp-content/uploads/2015/05/instreamaudio.png" />
<meta property="og:image" content="http://accordantmedia.com/wp-content/uploads/2015/05/outofhome-300x300.png" />
<meta property="og:image" content="http://accordantmedia.com/wp-content/uploads/2015/05/addressabletv-300x300.png" />
<!-- / Yoast SEO plugin. -->

<!-- Can Delete -->
<link rel="alternate" type="application/rss+xml" title="Accordant &raquo; Feed" href="http://accordantmedia.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Accordant &raquo; Comments Feed" href="http://accordantmedia.com/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="Accordant &raquo; WHAT WE DO Comments Feed" href="http://accordantmedia.com/what-we-do/feed/" />
<!-- Can Delete -->

<link rel='stylesheet' href='http://www.thelittleresumeshop.com/stylesheets/style2.css' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel='stylesheet' id='x-font-custom-css'  href='//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic|Open+Sans:400|Open+Sans:400|Open+Sans:300&#038;subset=latin,latin-ext' type='text/css' media='all' />

<!-- Can Delete -->
<!-- This site uses the Google Analytics by Yoast plugin v5.4.6 - Universal disabled - https://yoast.com/wordpress/plugins/google-analytics/ -->
<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-7581351-4']);
	_gaq.push(['_gat._forceSSL']);
	_gaq.push(['_trackPageview']);

	(function () {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();

</script>
<!-- / Google Analytics by Yoast -->
<!-- Can Delete -->

<script type='text/javascript' src='http://accordantmedia.com/wp-includes/js/jquery/jquery.js?ver=1.11.3'></script>
<script type='text/javascript' src='http://accordantmedia.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>

<script type='text/javascript' src='http://accordantmedia.com/wp-content/themes/x/framework/js/dist/site/x-head.min.js'></script>
<script type='text/javascript' src='http://accordantmedia.com/wp-content/plugins/x-shortcodes/js/dist/site/x-shortcodes-head.min.js'></script>

</head>



<body class="page page-id-18 page-template page-template-template-blank-4 page-template-template-blank-4-php siteorigin-panels x-icon x-navbar-fixed-top-active x-full-width-layout-active x-content-sidebar-active wpb-js-composer js-comp-ver-4.1.3 vc_responsive x-v2_6_0 x-child-theme-active x-shortcodes-v2_4_0">

  
  <div id="top" class="site"> <!-- BEGIN #top.site -->

  
  

  <header class="masthead masthead-inline" role="banner">
    
    

  <div class="x-navbar-wrap">
    <div class="x-navbar">
      <div class="x-navbar-inner">
        <div class="x-container-fluid max width">
          

<a href="http://accordantmedia.com/" class="x-brand img" title="Programmatic Media Specialists">
  <img src="//accordantmedia.com/wp-content/uploads/2014/11/accordant_logo7.png" alt="Programmatic Media Specialists"></a>          
<a href="#" class="x-btn-navbar collapsed" data-toggle="collapse" data-target=".x-nav-collapse">
  <i class="x-icon-bars"></i><span class="visually-hidden">Navigation</span>
</a>

<nav class="x-nav-collapse collapse" role="navigation">

  <ul id="menu-main-menu" class="x-nav sf-menu"><li id="menu-item-118" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-18 current_page_item menu-item-118"><a href="http://accordantmedia.com/what-we-do/">What We Do</a></li>
<li id="menu-item-115" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115"><a href="http://accordantmedia.com/our-technology/">Our Technology</a></li>
<li id="menu-item-104" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-104"><a href="http://accordantmedia.com/case-studies/">Case Studies</a></li>
<li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="http://accordantmedia.com/team/">Team</a></li>
<li id="menu-item-8239" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-8239"><a href="/news">News</a>
<ul class="sub-menu">
	<li id="menu-item-141" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-141"><a href="http://accordantmedia.com/news/">Accordant in the News</a></li>
	<li id="menu-item-8238" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8238"><a href="http://accordantmedia.com/what-were-reading/">What We&#8217;re Reading</a></li>
</ul>
</li>
<li id="menu-item-140" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-140"><a href="http://accordantmedia.com/careers/">Careers</a></li>
<li id="menu-item-139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139"><a href="http://accordantmedia.com/contact-us/">Contact</a></li>
</ul>
</nav> <!-- end .x-nav-collapse.collapse -->        </div>
      </div> <!-- end .x-navbar-inner -->
    </div> <!-- end .x-navbar -->
  </div> <!-- end .x-navbar-wrap -->

    
    </header>

      <div class="x-main full" role="main">

    
      <article id="post-18" class="post-18 page type-page status-publish hentry no-post-thumbnail">
        <div class="entry-wrap">
          

<div class="entry-content content">

<!-- REPLACE MAIN BANNER IMAGE URL BELOW-->
  <div id="x-content-band-1" class="x-content-band left-text bg-image parallax man" style="background-image: url(http://accordantmedia.com/wp-content/uploads/2014/11/Actionable-Scalable-Insights1.jpg); background-color: #666; padding-top: 13%; padding-bottom: 13%;"><div class="x-container-fluid max width">
<!-- REPLACE MAIN BANNER IMAGE URL ABOVE-->

<div  class="x-container-fluid max width" >
<div  class="x-column whole last" style="" data-fade="true" data-fade-animation="in">
<span style="font-size: 1.9em; font-weight: lighter; color: #fff;">

<!-- REPLACE BANNER TEXT BELOW -->
We help marketers organize and analyze their customer data, and deploy sophisticated targeting strategies through programmatic media channels. Our full service, 100% transparent approach delivers insights, customer value, and drives results at scale.
<!-- REPLACE BANNER TEXT ABOVE -->

</span><br />
</div><hr class="x-clear">
</div>
</div></div>


<div id="x-content-band-2" class="x-content-band left-text man" style="background-color: transparent; padding-bottom: 3%;"><div class="x-container-fluid max width">
<div  class="x-container-fluid max width" >
<div  class="x-column one-third" style="" >
<h3><span style="color: #ff3030;">Expert Guidance,<br />
Excellent Service</span></h3>
<p>We are thoroughly service-oriented and see ourselves as an extension of our client’s marketing team. Our clients leverage Accordant’s programmatic sophistication, expertise and attention to detail as a complete, integrated solution.</p>
<p>Each client has a dedicated account team plus direct support from our analytics and insights, product engineering and QA teams.</p>
</div>
<div  class="x-column one-third" style="" >
<h3><span style="color: #ff3030;">Open<br />
Collaboration</span></h3>
<p>Accordant operates in a 100% transparent manner. We believe that client success stems from open, collaborative relationships.</p>
<p>With unobstructed access to campaign tactics and live data, clients and teams work together in a dialogue, creating trust and enhancing campaign results.</p>
</div>
<div  class="x-column one-third last" style="" >
<h3><span style="color: #ff3030;">Data Driven,<br />
Scalable Campaigns</span></h3>
<p>Accordant integrates marketers’ private first-party data with our proprietary real-time bidstream analytics and third-party data.</p>
<p>By coordinating proprietary data sets, integrated media tactics and cross-channel activation, marketers unlock the scale results and insights that programmatic media solutions can offer.</p>
</div><hr class="x-clear">
<div  class="x-column whole last" style="" data-fade="true" data-fade-animation="in">
<h3 style="margin-top: 3.5em;"><span style="color: #ff3030;">Accordant&#8217;s Full Service Approach</span></h3>
<p><a href="http://accordantmedia.com/wp-content/uploads/2014/11/CHART1B.png"><img class="alignnone size-full wp-image-7792 chart" src="http://accordantmedia.com/wp-content/uploads/2014/11/CHART1B.png" alt="CHART1B" width="1770" height="474" /></a></p>
</div><hr class="x-clear">
<div  class="x-column two-thirds last" style="" >
<h3><span style="color: #ff3030;">Reducing the Complexity, Improving the Success</span></h3>
<ul>
<li>Phased Engagement</li>
<li>Custom Solutions, Competitive Advantage</li>
<li>Transparency: Buying, Optimization, Analytics</li>
<li>Proprietary Tools, Algorithms, Processes</li>
</ul>
</div><hr class="x-clear">
</div>
</div></div>
<div id="x-content-band-3" class="x-content-band left-text man" style="background-color: #F2F2F2; padding-bottom: 3%;"><div class="x-container-fluid max width">
<div  class="x-container-fluid max width" >
<div  class="x-column two-thirds last" style="" data-fade="true" data-fade-animation="in">
<p class="man resp-p-fonts" style="color: #666; font-size: 1.6em; font-weight: 200; padding-bottom: 1em;">We deliver programmatic marketing success via Accordant Media’s Audience Targeting System, or <span style="color: #ff3030;">Accordant ATS™</span></p>
</div><hr class="x-clear">
<div  class="x-column one-third" style="" >
<h3><span style="color: #ff3030;">Our Programmatic Media Tactics:</span></h3>
<p><a href="http://accordantmedia.com/wp-content/uploads/2014/11/FUNNEL3.png"><img class="alignnone size-full wp-image-7793" src="http://accordantmedia.com/wp-content/uploads/2014/11/FUNNEL3.png" alt="FUNNEL3" width="742" height="716" /></a></p>
</div>
<div  class="x-column list-float two-thirds last" style="" >
<h3><span style="color: #ff3030;">Integrated Tactics: Audience Engagement to Performance</span></h3>
<ul>
<li>Maximize audience reach and engagement</li>
<li>Scale campaigns via a range of customized prospecting solutions</li>
<li>Optimize performance to goals</li>
<li>Re-engage customers through CRM programs</li>
</ul>
</div><hr class="x-clear">
<div  class="x-column whole last" style="" data-fade="true" data-fade-animation="in">
<h3><span style="color: #ff3030;">Our Programmatic Media Channels:</span></h3>
<div id="channel_wrapper">
<div class="what-grid" style="width: 132px; float: left; margin-right: 12px;"><img class="alignleft" style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 15px;" src="http://accordantmedia.com/wp-content/uploads/2015/05/display-300x300.png" alt="addressabletv" width="115" height="auto" /></p>
<div style="text-align: left; border-top: 1px solid; border-bottom: 1px solid; color: #ff3030; font-size: 1.1em; margin-top: 18px;">
<p>Display</p>
</div>
<ul>
<li>In Banner</li>
<li>Rich Media</li>
<li>Non-Guaranteed &amp; Reserved</li>
<li>Private Exchanges</li>
</ul>
</div>
<div class="what-grid" style="width: 132px; float: left; margin-right: 12px;"><img class="alignleft" style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 15px;" src="http://accordantmedia.com/wp-content/uploads/2015/05/video-300x300.png" alt="addressabletv" width="115" height="auto" /></p>
<div style="text-align: left; border-top: 1px solid; border-bottom: 1px solid; color: #ff3030; font-size: 1.1em; margin-top: 18px;">
<p>Video</p>
</div>
<ul>
<li>In Stream</li>
<li>In Banner</li>
</ul>
</div>
<div class="what-grid" style="width: 132px; float: left; margin-right: 12px;"><img class="alignleft" style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 15px;" src="http://accordantmedia.com/wp-content/uploads/2015/05/mobile-300x300.png" alt="addressabletv" width="115" height="auto" /></p>
<div style="text-align: left; border-top: 1px solid; border-bottom: 1px solid; color: #ff3030; font-size: 1.1em; margin-top: 18px;">
<p>Mobile</p>
</div>
<ul>
<li>Mobile Web</li>
<li>In-App</li>
<li>Rich Media</li>
<li>Geo-Fencing</li>
</ul>
</div>
<div class="what-grid" style="width: 132px; float: left; margin-right: 12px;"><img class="alignleft" style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 15px;" src="http://accordantmedia.com/wp-content/uploads/2015/05/social-300x300.png" alt="addressabletv" width="115" height="auto" /></p>
<div style="text-align: left; border-top: 1px solid; border-bottom: 1px solid; color: #ff3030; font-size: 1.1em; margin-top: 18px;">
<p>Social</p>
</div>
<ul>
<li>Facebook</li>
<li>Twitter</li>
<li>LinkedIn</li>
</ul>
</div>
<div class="what-grid" style="width: 132px; float: left; margin-right: 12px;"><img class="alignleft" style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 15px;" src="http://accordantmedia.com/wp-content/uploads/2015/05/email-300x300.png" alt="addressabletv" width="115" height="auto" /></p>
<div style="text-align: left; border-top: 1px solid; border-bottom: 1px solid; color: #ff3030; font-size: 1.1em; margin-top: 18px;">
<p>Email</p>
</div>
<ul>
<li>In-Email</li>
<li>CRM Activation</li>
</ul>
</div>
<div class="what-grid" style="width: 132px; float: left; margin-right: 12px;"><img class="alignleft" style="margin-bottom: 0px; margin-top: 15px; padding-bottom: 0px;" src="http://accordantmedia.com/wp-content/uploads/2015/05/instreamaudio.png" alt="addressabletv" width="115" height="auto" /></p>
<div style="text-align: left,bottom; border-top: 1px solid; border-bottom: 1px solid; color: #ff3030; font-size: 1.1em; margin-top: 18px;">
<p>In-Stream Audio</p>
</div>
<ul>
<li>Audio Files &amp; Companion Banners</li>
<li>Terrestrial &amp; Digital Radio</li>
</ul>
</div>
<div class="what-grid" style="width: 132px; float: left; margin-right: 12px;"><img class="alignleft" style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 15px;" src="http://accordantmedia.com/wp-content/uploads/2015/05/outofhome-300x300.png" alt="addressabletv" width="115" height="auto" /></p>
<div style="text-align: left; border-top: 1px solid; border-bottom: 1px solid; color: #ff3030; font-size: 1.1em; margin-top: 18px;">
<p>Out-Of-Home</p>
</div>
<ul>
<li>Digital Billboards</li>
<li>In-Office &amp; In-Store</li>
</ul>
</div>
<div class="what-grid" style="width: 132px; float: left; margin-right: 12px;"><img class="alignleft" style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 15px;" src="http://accordantmedia.com/wp-content/uploads/2015/05/addressabletv-300x300.png" alt="addressabletv" width="115" height="auto" /></p>
<div style="text-align: left; border-top: 1px solid; border-bottom: 1px solid; color: #ff3030; font-size: 1.1em; margin-top: 18px;">
<p>Addressable TV</p>
</div>
<ul>
<li>Rich Media</li>
<li>VOD &amp; TV Everywhere</li>
<li>Cable Networks Nationwide</li>
</ul>
</div>
</div>
</div><hr class="x-clear">
</div>
</div></div>
 


</div> <!-- Closing entry-content content -->

        </div> <!-- Closing entry-wrap -->
      </article>

    
  </div> <!-- Closing x-main full -->

<footer class="x-colophon top" role="contentinfo">
    <div class="x-container-fluid max width">
      <div class="x-row-fluid">

        <div class="x-span12"><div id="shortcodes-ultimate-4" class="widget shortcodes-ultimate"><div class="textwidget"><div  class="x-column newsletter one-half last" style="" ><div role="form" class="wpcf7" id="wpcf7-f7118-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form name="" action="/what-we-do/#wpcf7-f7118-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="7118" />
<input type="hidden" name="_wpcf7_version" value="4.1.2" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f7118-o1" />
<input type="hidden" name="_wpnonce" value="de882ac68b" />
</div>
<table id="signup">
<tr>
<td colspan="2">Sign up for our Quarterly Market Pulse Report!</td>
</tr>
<td><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span></td>
<td><input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit" /></td>
</tr>
</table>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div></div><hr class="x-clear">

<div  class="x-column one-half" style="margin-top: 3.5em;" ><img  class="x-img x-img-thumbnail" style="width: 220.5px; height: auto; margin-left: 2.5em; border: none; background-color: #404040" src="http://accordantmedia.com/wp-content/uploads/2014/11/accordant_logo7.png" >
</div>

<div  class="x-column one-half last" style="margin-top: 3.5em;" >
<table id="signup" style="border: 0px;">
<tr>
<td style="color: #888; line-height: 2em; background-color: #404040; border: 0 none;">
    <span><strong>P </strong></span><span style="color: #FFF">646 349 9400</span><br>
    <span><strong>E </strong></span><a style="color: #FFF;" href="mailto:info@accordantmedia.com">info@accordantmedia.com</a><br>
    <a style="color: #FFF;" href="/careers">Careers</a><br>
    <a href="https://twitter.com/Accordant"><img src="http://accordantmedia.com/wp-content/uploads/2014/11/twitter.png" width="18" height="18"/></a>
    <a href="https://www.facebook.com/AccordantMedia"><img src="http://accordantmedia.com/wp-content/uploads/2014/11/facebook.png" width="18" height="18"/></a>
    <a href="http://www.linkedin.com/company/accordant-media"><img src="http://accordantmedia.com/wp-content/uploads/2014/11/linkedin.png" width="18" height="18"/></a>
</td>
<td style="color: #888; line-height: 2em; background-color: #404040; font-size: 90%; border: 0 none;">
    <a style="color: #888;" href="/oba-self-regulatory-principles">OBA Self-Regulatory Principles</a><br>
    <a style="color: #888;" href="/privacy-policy">Privacy Policy</a><br>
    © 2015 Accordant Media, LLC.<br>
<a href="http://iabcanada.com" target="_blank"><img src="http://accordantmedia.com/wp-content/uploads/2014/11/IAB_LOGO1.png" width="45" height="45"/></a>
</td>
</table>

</div><hr class="x-clear"></div></div></div>
      </div> <!-- end .x-row-fluid -->
    </div> <!-- end .x-container-fluid.max.width -->
  </footer> <!-- end .x-colophon.top -->


  

  
  </div> <!-- END #top.site -->

  
		<script src="https://secure.adnxs.com/seg?add=555170&t=1" type="text/javascript"></script>
	<script type='text/javascript' src='http://accordantmedia.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/accordantmedia.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */
</script>
<script type='text/javascript' src='http://accordantmedia.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.1.2'></script>
<script type='text/javascript' src='http://accordantmedia.com/wp-content/themes/x-child-icon/js/custom.js?ver=1.0'></script>
<script type='text/javascript' src='http://accordantmedia.com/wp-content/themes/x/framework/js/dist/site/x-body.min.js'></script>
<script type='text/javascript' src='http://accordantmedia.com/wp-content/themes/x/framework/js/dist/site/x-icon.min.js'></script>
<script type='text/javascript' src='http://accordantmedia.com/wp-includes/js/comment-reply.min.js?ver=4.3'></script>
<script type='text/javascript' src='http://accordantmedia.com/wp-content/plugins/x-shortcodes/js/dist/site/x-shortcodes-body.min.js'></script>
<script type='text/javascript' src='http://accordantmedia.com/wp-content/themes/x-child-icon/js/footer.js?ver=1.0'></script>

  
</body>
</html>